<a href="https://colab.research.google.com/github/choyoujung/data-analysis/blob/main/3%EC%9D%BC%EC%B0%A8_%EC%BB%AC%EB%9E%99%EC%85%98_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**3.컬랙션 자료형**

In [3]:
#3-11.리스트 생성
#빈 리스트 생성
a=[]
a=list()
print(type(a))
print(a)

<class 'list'>
[]

In [5]:
#최기 데이타 넣고 리스트 생성
import math
a=[1,2,3,4,5]
a=[1, 'apple', '딸기', 3.14, math.pi, max([10, 11, 5, 56])]
b =[1, 2, a ,['사과', '딸기'], {'k':'kiwi'}]
print(b)

[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 56], ['사과', '딸기'], {'k': 'kiwi'}]

In [8]:
numlist = []
for num in range(1,21,2):
  numlist.append(num)
print(numlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [9]:
print(b)
for i in b:
  print(i)

[1, 2, [1, 'apple', '딸기', 3.14, 3.141592653589793, 56], ['사과', '딸기'], {'k': 'kiwi'}]
1
2
[1, 'apple', '딸기', 3.14, 3.141592653589793, 56]
['사과', '딸기']
{'k': 'kiwi'}

In [28]:
#리스트 요소 접근

colors = ['빨강', '초록', '파랑', '노랑', '검정']
print(colors[0])
print(colors[2:4])
print(colors[::-1])

for color in colors:
  print(f'나는 "{color}"색상을 좋아 합니다.')

빨강
['파랑', '노랑']
['검정', '노랑', '파랑', '초록', '빨강']
나는 "빨강"색상을 좋아 합니다.
나는 "초록"색상을 좋아 합니다.
나는 "파랑"색상을 좋아 합니다.
나는 "노랑"색상을 좋아 합니다.
나는 "검정"색상을 좋아 합니다.

In [29]:
#리스트에 요소 추가

print(colors)
colors.insert(2,'분홍')
print(colors)

#맨 뒤에 넣기
colors.append('보라')
print(colors)

['빨강', '초록', '파랑', '노랑', '검정']
['빨강', '초록', '분홍', '파랑', '노랑', '검정']
['빨강', '초록', '분홍', '파랑', '노랑', '검정', '보라']

In [30]:
##리스트 특정위치에 요소값 변경하기
print(colors)
colors[3] = '주황'
print(colors)
colors[1:3] = ['갈색','주황']
print(colors)

['빨강', '초록', '분홍', '파랑', '노랑', '검정', '보라']
['빨강', '초록', '분홍', '주황', '노랑', '검정', '보라']
['빨강', '갈색', '주황', '주황', '노랑', '검정', '보라']

In [37]:
#맨뒤에 있는거 꺼내기
colors.pop()
print(colors)

#요소값과 일치하는거 삭제

colors.remove('주황')

IndexError: pop from empty list

In [36]:
# 전채내용 삭제
colors.clear()

In [ ]:
#리스트 삭제
del(colors)

In [43]:
#2차원/3차원 리스트 요소

animals=['사자', '호랑이', '곰',
        ['고양이', '강아지',['돌고래', '범고래'], '햄스터']]
print(animals)
print(animals[1])
print(animals[3])
print(animals[3][1])
print(animals[3][2][1])

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
호랑이
['고양이', '강아지', ['돌고래', '범고래'], '햄스터']
강아지
범고래
4

In [45]:
#요소의 길이
print(animals)
print(len(animals))
print(len(animals[3]))
print(len(animals[3][2]))

['사자', '호랑이', '곰', ['고양이', '강아지', ['돌고래', '범고래'], '햄스터']]
4
4
2

In [52]:
#리스트 함수
colors = ['빨강', '초록', '파랑', '노랑', '검정','노랑']
#정열



print(colors)
colors.sort()
print(colors)
colors.reverse()   #역순
print(colors)
#요소 찾기
print(colors.index('빨강'))
print(colors.index('노랑'))

#요소값의 갯수 세기
print(colors.count('노랑'))
#새로운 이름으로 정렬
new = sorted(colors)
print(new)

['빨강', '초록', '파랑', '노랑', '검정', '노랑']
['검정', '노랑', '노랑', '빨강', '초록', '파랑']
['파랑', '초록', '빨강', '노랑', '노랑', '검정']
2
3
2
['검정', '노랑', '노랑', '빨강', '초록', '파랑']

In [55]:
#리스트 리스트 붙이기
colors = ['빨강', '초록', '파랑', '노랑', '검정','노랑']
newColors = ['red', 'green', 'blue']
print(colors)
print(newColors)
colors.extend(newColors)
print(colors)

colors = ['빨강', '초록', '파랑', '노랑', '검정','노랑']
newColors = ['red', 'green', 'blue']
print(colors+newColors)

['빨강', '초록', '파랑', '노랑', '검정', '노랑']
['red', 'green', 'blue']
['빨강', '초록', '파랑', '노랑', '검정', '노랑', 'red', 'green', 'blue']
['빨강', '초록', '파랑', '노랑', '검정', '노랑', 'red', 'green', 'blue']


**## 딕셔너리**

In [57]:
#딕셔너리 생성
dic = dict()
dic = {}
print(type(dic))

<class 'dict'>

In [61]:
members = {1:'이승철', 2:'박정현', 'BTS':['진', 'RM', '뷔', '지민']}
print(members)
print(members[2])
print(members['BTS'])
print(members['BTS'][1])
print(len(members))

{1: '이승철', 2: '박정현', 'BTS': ['진', 'RM', '뷔', '지민']}
박정현
['진', 'RM', '뷔', '지민']
RM
3

In [65]:
#키를 통해서 값에 접근법
members = {1:'이승철', 2:'박정현', 'BTS':['진', 'RM', '뷔', '지민']}
for member in members:
  print(member, members[member])

1 이승철
2 박정현
BTS ['진', 'RM', '뷔', '지민']

In [68]:
#딕셔너리 함수
members = {1:'이승철', 2:'박정현', 'BTS':['진', 'RM', '뷔', '지민']}
print(members.keys())
print(members.values()) #리스트 형식
print(members.items())

dict_keys([1, 2, 'BTS'])
dict_values(['이승철', '박정현', ['진', 'RM', '뷔', '지민']])
dict_items([(1, '이승철'), (2, '박정현'), ('BTS', ['진', 'RM', '뷔', '지민'])])

In [70]:
for key, value in members.items():
  print(key, value)

1 이승철
2 박정현
BTS ['진', 'RM', '뷔', '지민']

In [76]:
### 딕셔너리 추가 , 수젇 , 삭제
members = {1:'이승철', 2:'박정현', 'BTS':['진', 'RM', '뷔', '지민']}

#요소 추가
members[3] = 'NCT Dream'
print(members)
members['소속사'] = ['하이브', 'SM기획']
print(members)

#요소 수정
members[1] = '시븐틴'
print(members)

#요소 삭제
del(members['소속사'])
print(members)

#딕셔너리 삭제
del(members)
print(members)

{1: '이승철', 2: '박정현', 'BTS': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream'}
{1: '이승철', 2: '박정현', 'BTS': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '시븐틴', 2: '박정현', 'BTS': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream', '소속사': ['하이브', 'SM기획']}
{1: '시븐틴', 2: '박정현', 'BTS': ['진', 'RM', '뷔', '지민'], 3: 'NCT Dream'}

NameError: name 'members' is not defined

In [78]:
#튜플 생성
tup = tuple()
tup = ()
print(type(tup))

a=[1, 2, 3, 4]
print(a)
print(tuple(a))   #리스트를 튜플로

<class 'tuple'>
[1, 2, 3, 4]
(1, 2, 3, 4)

In [79]:
tup = ('사과')
print(type(tup))

tup = ('사과',)  #튜플로 인식시 ,
print(type(tup))

<class 'str'>
<class 'tuple'>

In [ ]:
help(tuple)

In [80]:
# 튜플은 변수를 정의 할ㄸ 함수의 파라메터 정의 해 사용

a, b=100, 200  #튜플
a, b=100, [1,2,3]
print(a)
print(b)

100
[1, 2, 3]

In [81]:
def nSum(a, b):
  return a+b

nSum(100, 200)  #argument

300

In [83]:
# 집합 생성

a = set()
print(type(a))

a = {1, 2, 3, 4, 2, 4}
print(a)  #유니크 한것만 출력

<class 'set'>
{1, 2, 3, 4}

In [84]:
a=[1, 2, 3,4, 5, 6, 7, 2, 2, 3, 5, 6, 7, 5, 2]
print(a)
a= list(set(a))
print(a)

[1, 2, 3, 4, 5, 6, 7, 2, 2, 3, 5, 6, 7, 5, 2]
[1, 2, 3, 4, 5, 6, 7]

In [94]:
#집합의 요소 추가 삭제
s={1, 2, 3, 'a','b'}
print(s)

#요소 1개추가
s.add(4)
print(s)
#요소 여려개 추가
s.update(['c', 'd', 5])
s.update(['apple'])
print(s)
s.update('apple')
print(s)

#요소 1개 삭제
s.discard('a')
print(s)

s.discard('apple')
print(s)

#특정 요소 삭제
s.remove(1)
print(s)

#임의의 요소 삭제
s.pop()
print(s)

{1, 2, 3, 'b', 'a'}
{1, 2, 3, 4, 'b', 'a'}
{1, 2, 3, 4, 5, 'apple', 'd', 'c', 'b', 'a'}
{1, 2, 3, 4, 5, 'l', 'apple', 'p', 'd', 'e', 'c', 'b', 'a'}
{1, 2, 3, 4, 5, 'l', 'apple', 'p', 'd', 'e', 'c', 'b'}
{1, 2, 3, 4, 5, 'l', 'p', 'd', 'e', 'c', 'b'}

TypeError: set.remove() takes exactly one argument (2 given)

In [95]:

#집합 전체 삭제
del(s)
print(s)

NameError: name 's' is not defined

In [102]:
#교집합 합집합 차집합
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}

#교집합
print(s1 & s2)
print(s1.intersection(s2))

#합집합
print(s1 | s2)
print(s1.union(s2))
# 차집합
print(s1 - s2)
print(s1.difference(s2))

#또다른 교집합 집합에서
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
s3 = {5, 6, 7}
print(s1.intersection_update(s2, s3))
print(s1)

{3, 4, 5}
{3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2}
{1, 2}
None
{5}

In [ ]:
help()