<a href="https://colab.research.google.com/github/choyoujung/data-analysis/blob/main/6%EC%9D%BC%EC%B0%A8_%ED%95%A8%EC%88%98%EC%99%80_%EB%AA%A8%ED%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

dice = [0,0,0,0,0,0]
x = [1, 2, 3, 4, 5,6]

for i in range(1, 101):
    random.shuffle(x)
    if random.choice(x)=='1':
        dice[0] = dice[0] + 1
    elif random.choice(x)==2:
        dice[1] = dice[1] + 1
    elif random.choice(x)==3:
        dice[2] = dice[2] + 1
    elif random.choice(x)==4:
        dice[3] = dice[3] + 1
    elif random.choice(x)==5:
        dice[4] = dice[4] + 1
    elif random.choice(x)==6:
        dice[5] = dice[5] + 1

aa = max(dice)
random.randint(10,20)

mav_value = max(dice)

max_dice = [ idx+1 for idx, v in enumerate(dice) if v==max.value ]

In [8]:
#5 함수와 모듈
# 암스트롱 수 구하는 방법
#100~999까지의 수중 각자리의 3의 제곱을 더한수가 그수와 같으면 암스트롱

def is_arm(aa):
    aa_str = str(aa)

    _a, _b, _c = int(str(aa_str[0])), int(str(aa_str[1])), int(str(aa_str[2]))

    if  int(aa) == _a**3 + _b**3 + _c**3 :
        return True
    else:
        return False

for n in range(100, 1000):
    if is_arm(n):
        print(f'{n}')

153
370
371
407

In [20]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

aa = lambda bb : str(bb) if  bb%3 == 0 else bb

mylist = list(map(aa, mylist))

print(mylist)

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [14]:
mylist1 = [1, 2, 3, 4, 5]
mylist2 = [2,4,6,8,10]

func = lambda x, y:x*y
mylist = list(map(func,mylist1, mylist2) )
mylist

[2, 8, 18, 32, 50]